body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    max-width: 1200px;
    text-align: center; 
    background-color: #D9D9D9;
}

header {
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 20px 40px;
    max-width: 480px;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 20px;
    border: 3px solid #222222;
    text-align: center;
}

header h2, h3 {
    margin: 0;
}

header h3 {
    font-weight: lighter;
}

.navigacio {
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
}

.navigacio a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.bemutleir {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

.bemutleir p {
    float: left;
    font-size: 110%;
    padding-right: 20px;
}

.bemutleir img {
    float: right;
    height: 300px;
    border: solid #3a3a3a;
    border-radius: 28px;
}

.bemutatkozas h1 {
    text-align: center;
    color: #3a3a3a;
    font-size:175%;
}

.bemutleir p {
    text-align: justify;
}   